{% extends 'homepage/base.html' %}

{% block 'page_title' %}
StudentsIndo
{% endblock %}

{% block body %}
<h3>StudentsInfo ({{ studentsinfo|length }})</h3>

<ul class="list-group">
    {% for studentinfo in studentsinfo %}

    <li class="list-group-item list-group-item-{% cycle 'dark' 'secondary' %}">
        <div> {{ studentinfo.student.first_name }} {{ studentinfo.student.last_name }} </div>
        <div> email: {{ studentinfo.email|default:'None' }} &nbsp;&nbsp;&nbsp; pass_id: {{ studentinfo.pass_id|default:'None' }} </div>
    </li>

    {% endfor %}
</ul>
{% endblock %}
