{% extends 'homepage/base.html' %}

{% block 'page_title' %}
Students
{% endblock %}

{% block body %}
<h3>Students ({{ students|length }})</h3>

<ul class="list-group">
    {% for student in students %}

    <li class="list-group-item list-group-item-{% cycle 'dark' 'secondary' %}">
        <div> {{ student.first_name }} {{ student.last_name }} </div>
        <div> email: {{ student.info.email|default:'None' }} &nbsp;&nbsp;&nbsp; pass_id: {{ student.info.pass_id|default:'None' }} </div>
    </li>

    {% endfor %}
</ul>
{% endblock %}
